body {
    background: rgb(255, 255, 255);
}

@media screen and (min-width:401px) {

    .select-address-container {
        width: 80%;
        margin: auto;
        display: grid;
        margin-bottom: 15em;
    }

    .select-address-container button:hover {
        cursor: pointer;
    }

    .select-address {
        width: 80%;
        padding-bottom: 20px;
        background-color: #fff;
        margin: auto;
        border-bottom: 1px solid gainsboro;
    }

    .select-address h1,
    .select-address h2,
    .select-address h3,
    .select-address h4,
    .select-address h5,
    .select-address p,
    .select-address a,
    .select-address button {
        color: #000000;
    }

    .address-title h1 {
        padding: 15px 0;
    }

    .current-address {
        display: grid;
        padding: 20px 0;
        gap: 10px;
    }

    .address-details {
        width: 20%;
    }

    .deliver-button {
        margin: 10px 0;
    }

    .deliver-button a {
        text-decoration: none;
        padding: 5px 40px;
        border-radius: 5px;
        border: none;
        background-color: orange;
    }

    .edit-del-button a {
        padding: 5px 40px;
        border-radius: 5px;
        border: none;
        text-decoration: none;
        background-color: orange;
    }

    .add-address {
        display: grid;
        gap: 20px;
    }

    .add-address-title {
        padding: 20px 0;
    }

    .add-address input {
        width: 100%;
        height: 3vh;
        border-radius: 5px;
        border: none;
        background-color: #dcdbdb;
    }

    .add {
        display: grid;
        width: 50%;
        gap: 5px;
    }

    .add-city {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .country {
        display: grid;
        width: 50%;
        gap: 5px;
    }

    .select-dropdown {
        display: grid;
        width: 100%;
        position: relative;
        gap: 3px;
    }

    .dropbtn {
        display: grid;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 3vh;
        border-radius: 5px;
        padding: 0 10px;
        border: none;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        overflow: auto;
        z-index: 1;
    }


    .dropdown-content a {
        display: block;
        padding: 12px 16px;
        text-decoration: none;
    }

    .dropdown-content-state {
        display: none;
        position: absolute;
        min-width: 160px;
        overflow: auto;
        z-index: 1;
    }

    .dropdown-content-state a {
        display: block;
        padding: 12px 16px;
        text-decoration: none;
    }

    .dropdown-content-add {
        display: none;
        position: absolute;
        min-width: 160px;
        overflow: auto;
        z-index: 1;
    }

    .dropdown-content-add a {
        display: block;
        padding: 12px 16px;
        text-decoration: none;
    }

    .town {
        display: grid;
        gap: 3px;
    }

    .instructions {
        display: grid;
        padding-top: 2em;
        gap: 20px;
    }

    .default {
        display: flex;
        align-items: center;
    }

    .default h4 {
        padding: 0 10px;
    }

    .use-address {
        width: 50%;
    }

    .use-address button {
        width: 40%;
        height: 3vh;
        border-radius: 5px;
        border: none;
        background-color: orange;
    }
}

@media screen and (max-width:400px) {

    .header-mob-address {
        background-color: #fff;
        padding-bottom: 15px;
    }

    .address-container {
        padding: 0 10px;
    }

    .address-title {
        padding: 20px 0;
    }

    .address-container h5,
    .address-container h4,
    .address-container h2,
    .address-container p {
        color: #000000;
    }

    .address-box {
        display: flex;
        align-items: center;
        justify-items: center;
        padding: 20px 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .radio-btn {
        width: 10%;
    }

    .radio-btn input {
        width: 25px;
        height: 20px;
    }

    .user-address {
        display: grid;
        width: 100%;
        gap: 10px;
    }

    .delivery-buttons {
        width: 80%;
        margin: auto;
        display: grid;
        margin-top: 10px;
        gap: 10px;
    }

    .delivery {
        display: grid;
    }

    .deliver {
        background-color: yellow;
        color: #000000;
        border-radius: 5px;
        border: none;
    }

    .edit {
        background-color: #fff;
        border-radius: 5px;
        color: #000000;
        border: 1px solid gray;
    }

    .delivery-btn {
        width: 100%;
        padding: 7px 70px;
    }

    .new-address {
        display: grid;
        gap: 10px;
    }

    .new-address h3,
    .new-address i {
        color: #000000;
    }

    .add-address {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5vh;
        margin-top: 20px;
        padding: 0 10px;
        border: 1px solid gray;
        border-radius: 5px;
    }

    .pickup-location {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5vh;
        padding: 0 10px;
        border: 1px solid gray;
        border-radius: 5px;
    }
}