{% extends 'app/base.html' %}
{% load static %}

{% block title %}Edit Address{% endblock %}

{% block style-editaddress %}
<link rel="stylesheet" href="{% static 'app/css/editaddress.css' %}">
{% endblock %}


{% block main-content-desk-editaddress %}
<div class="user-address">
    <div class="login-title">
        <h1>Edit Address</h1>
    </div>
    <div class="user-add">
        <div class="user-address-container">
            <div class="name">
                <h5>Name</h5>
                <input type="text" placeholder="Enter name">
            </div>
            <div class="locality name">
                <h5>Address</h5>
                <input type="text" placeholder="Enter House no. / Flat no. or Full address">
            </div>
            <div class="locality name">
                <h5>Locality</h5>
                <input type="text" placeholder="Enter Locality">
            </div>
            <div class="city name">
                <h5>City</h5>
                <input type="text" placeholder="Enter City">
            </div>
            <div class="state name">
                <h5>State</h5>
                <input type="text" placeholder="Enter State">
            </div>
            <div class="pin name">
                <h5>Pin</h5>
                <input type="number" placeholder="Enter PIN Code">
            </div>
            <div class="save">
                <button class="save-btn">Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block main-content-mob-editaddress %}
<div class="user-address-mob">
    <div class="login-title">
        <h1>Edit Address</h1>
    </div>
    <div class="user-add">
        <div class="user-address-container">
            <div class="name">
                <h5>Name:</h5>
                <input type="text" placeholder="Enter name">
            </div>
            <div class="locality name">
                <h5>Address:</h5>
                <input type="text" placeholder="Enter House no. / Flat no. or Full address">
            </div>
            <div class="locality name">
                <h5>Locality:</h5>
                <input type="text" placeholder="Enter Locality">
            </div>
            <div class="city name">
                <h5>City:</h5>
                <input type="text" placeholder="Enter City">
            </div>
            <div class="state name">
                <h5>State:</h5>
                <input type="text" placeholder="Enter State">
            </div>
            <div class="pin name">
                <h5>Pin:</h5>
                <input type="number" placeholder="Enter PIN Code">
            </div>
        </div>
    </div>
    <div class="save">
        <button>Save</button>
    </div>
</div>
{% endblock %}

{% block js-editaddress %}
<script src="{% static 'app/js/editaddress.js' %}"></script>
{% endblock %}