{% extends 'app/base.html' %}
{% load static %}

{% block title %}Edit Mobile{% endblock %}

{% block style-editmobile %}
<link rel="stylesheet" href="{% static 'app/css/editmobile.css' %}">
{% endblock %}


{% block main-content-desk-editmobile %}
<div class="change-pass">
    <div class="change-pass-title">
        <h1>Change Mobile</h1>
    </div>
    <div class="password-container">
        <input type="tel" placeholder="Enter your mobile no.">
    </div>
    <div class="save">
        <button>Save</button>
    </div>
</div>
{% endblock %}

{% block main-content-mob-editmobile %}
<div class="change-pass-mob">
    <div class="change-pass-title">
        <h1>Change Email</h1>
    </div>
    <div class="password-container">
        <input type="email" placeholder="Enter your mobile no.">
    </div>
    <div class="save">
        <button>Save</button>
    </div>
</div>
{% endblock %}

{% block js-editmobile %}
<script src="{% static 'app/js/editmobile.js' %}"></script>
{% endblock %}