{% extends 'app/base.html' %}
{% load static %}

{% block title %}Orders{% endblock %}

{% block style-orders %}
<link rel="stylesheet" href="{% static 'app/css/orders.css' %}">
{% endblock %}

{% block main-content-desk-orders %}
<!-- Orders for Desktop  -->
<div class="orders">
    <div class="order-title">
        <h1>Your Orders</h1>
    </div>
    <div class="user-orders">
        {% if op.exists %}
        {% for op in order_placed %}
        <div class="user-order-block">
            <div class="order-img">
                <img src="{{op.product.product_image.url}}" alt="">
            </div>
            <div class="order-content">
                <h2>Arriving Wednesday</h2>
                <h3>{{op.product.title}}</h3>
                <h3>{{op.quantity}}</h3>
                <div class="buy-again">
                    <button>Buy Again <i class="uil uil-sync"></i></button>
                </div>
                <div class="order-price">
                    <h4>₹ {{op.total_cost}}</h4>
                </div>
            </div>
            {% if op.status == 'Accepted' %}
            <div class="order-status">
                <p>Order Status: {{op.status}}</p>
                <div class="progress-bar">
                    <div class="progres-accepted"></div>
                </div>
            </div>
            {% elif op.status == 'Packed' %}
            <div class="order-status">
                <p>Order Status: {{op.status}}</p>
                <div class="progress-bar">
                    <div class="progres-packed"></div>
                </div>
            </div>
            {% elif op.status == 'On the way' %}
            <div class="order-status">
                <p>Order Status: {{op.status}}</p>
                <div class="progress-bar">
                    <div class="progres-ontheway"></div>
                </div>
            </div>
            {% elif op.status == 'Delivered' %}
            <div class="order-status">
                <p>Order Status: {{op.status}}</p>
                <div class="progress-bar">
                    <div class="progres-delivered"></div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <div class="empty-order">
            <h2>You have nothing in your order. Please buy something.</h2>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block main-content-mob-orders %}
<!--Header for Mobile -->
<div class="orders-mob">
    <div class="order-title">
        <h1>Your Orders</h1>
    </div>
    <div class="user-orders">
        <div class="user-order-block">
            <div class="order-img">
                <img src="./img/card-carousel-2/card-carousel-1.jpg" alt="">
            </div>
            <div class="order-content">
                <h3>Arriving Wednesday</h3>
                <h5>
                    Redmi Note 10T 5G (Metallic Blue, 4GB RAM, 64GB Storage)...</h5>
                <div class="buy-again">
                    <button>Buy Again <i class="uil uil-sync"></i></button>
                </div>
                <div class="order-price">
                    <h4>₹ 15, 499</h4>
                </div>
            </div>
        </div>
        <div class="user-order-block">
            <div class="order-img">
                <img src="./img/card-carousel-2/card-carousel-2.jpg" alt="">
            </div>
            <div class="order-content">
                <h3>Arriving Today</h3>
                <h5>
                    Samsung Galaxy M32 (Light Blue, 6GB RAM...</h5>
                <div class="buy-again">
                    <button>Buy Again <i class="uil uil-sync"></i></button>
                </div>
                <div class="order-price">
                    <h4>₹ 10, 990</h4>
                </div>
            </div>
        </div>
        <div class="user-order-block">
            <div class="order-img">
                <img src="./img/card-carousel-2/card-carousel-7.jpg" alt="">
            </div>
            <div class="order-content">
                <h3>Arriving Saturday</h3>
                <h5>HP GK100 Wired Full Size RGM Backlit Mechanical Gaming...
                </h5>
                <div class="buy-again">
                    <button>Buy Again <i class="uil uil-sync"></i></button>
                </div>
                <div class="order-price">
                    <h4>₹ 1,800</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js-orders %}
<script src="{% static 'app/js/orders.js' %}"></script>
{% endblock %}