{% extends 'app/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block style-profile %}
<link rel="stylesheet" href="{% static 'app/css/profile.css' %}">
{% endblock %}


{% block main-content-desk-profile %}
<!-- Login and Security for desktop -->
<div class="login-security">
    <div class="login-title">
        <h1>Login & Security</h1>
    </div>
    <div class="login-security-container">
        <div class="name">
            <h3>Name:</h3>
            <small>Siddhant</small>
        </div>
        <div class="email name">
            <h3>E-mail:</h3>
            <small>xxx@gmail.com</small>
        </div>
        <div class="mobno name">
            <h3>Mobile Phone Number:</h3>
            <small>xxxxxxxxxx</small>
        </div>
        <a href="{% url 'passwordchange' %}" class="password name">
            <h3>Password:</h3>
            <small>xxxxxxxxxx</small>
        </a>
    </div>
    <div class="save">
        <button>Save</button>
    </div>
</div>
{% endblock %}


{% block main-content-mob-profile %}
<!--Header for Mobile -->
<div class="login-security-mob">
    <div class="login-title">
        <h1>Login & Security</h1>
    </div>
    <div class="login-security-container">
        <div class="name-mob">
            <h3>Name:</h3>
            <small>Siddhant</small>
        </div>
        <div class="email name-mob">
            <h3>E-mail:</h3>
            <small>xxx@gmail.com</small>
        </div>
        <div class="mobno name-mob">
            <h3>Mobile Phone Number:</h3>
            <small>xxxxxxxxxx</small>
        </div>
        <div class="password name-mob">
            <h3>Password:</h3>
            <small>xxxxxxxxxx</small>
        </div>
    </div>
    <div class="save">
        <button>Save</button>
    </div>
</div>
{% endblock %}

{% block js-profile %}
<script src="{% static 'app/js/profile.js' %}"></script>
{% endblock %}