{% extends 'app/base.html' %}
{% load static %}

{% block style-thankyou %}
<link rel="stylesheet" href="{% static 'app/css/checkout.css' %}">
{% endblock %}

{% block title %}Thankyou{% endblock %}

{% block main-content-desk-thankyou %}
<div class="thankyou">
    <div class="tick-thankyou">
        <i class="uil uil-check"></i>
    </div>
    <div class="thankyou-title">
        <h1>Thank You for Ordering from Us.</h1>
        <h3>Please check your email for order confirmation and detailed delivery information or visit Message Center
            to review your notifications.</h3>
        <div class="order">
            <strong>
                <h4>
                    Order Number: XXX-XXXXXX-XXXXX
                </h4>
                <h4>
                    iPhone - 13 Pro Max, Lorem ipsum dolor sit amet consectetur, adipisicing elit, will be
                    shipped to Siddhant Totade by Amazon.in
                </h4>
            </strong>
        </div>
        <div class="delivery">
            <div class="gurantee">
                <strong>Guranteed delivery:</strong>
            </div>
            <div class="delivery-date">
                <strong>
                    <h4>Nov, 13, 2023</h4>
                </strong>
            </div>
        </div>
    </div>
    <div class="product-img">
        <img src="/img/product/product-img-1.jpg" alt="">
    </div>
</div>
<div class="continue-shopping">
    <button class="continue-shopping-btn">Continue Shopping</button>
</div>
{% endblock %}

{% block main-content-mob-thankyou %}
<div class="thank-you">
    <div class="product-img">
        <img src="/img/product/product-img-1.jpg" alt="">
    </div>
    <div class="thank">
        <i class="uil uil-check"></i>
        <div class="thankyou-order">
            <h1>Thank You for Ordering from Us.</h1>
            <h3>
                Please check your email for order confirmation and detailed delivery information or visit
                Message Center to review your notifications.
            </h3>
            <div class="order">
                <strong>
                    <h4>
                        Order Number: XXX-XXXXXX-XXXXX
                    </h4>
                    <h4>
                        iPhone - 13 Pro Max, Lorem ipsum dolor sit amet consectetur, adipisicing elit, will be
                        shipped to Siddhant Totade by Amazon.in
                    </h4>
                </strong>
            </div>
            <div class="delivery">
                <div class="gurantee">
                    <strong>Guranteed delivery:</strong>
                </div>
                <div class="delivery-date">
                    <strong>
                        <h4>Nov, 13, 2023</h4>
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="continue-shopping">
    <button class="shopping">Continue Shopping</button>
</div>
</div>
{% endblock %}

{% block js-thankyou %}
<script src="{% static 'app/js/thankyou.js' %}"></script>
{% endblock %}