{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/uploaddetails.css' %}">
    <title>Amazon Clone | Upload Details</title>
</head>

<body>
    <div class="upload-container">
        <div class="upload-title">
            <h1>Upload Product/Details</h1>
        </div>
        <div class="upload-product">
            <form enctype="multipart/form-data" action="{% url 'saveproduct' %}" method="post" id="product-form">
                {% csrf_token %}
                <div class="product-title product">
                    <small>Product Title</small>
                    <input type="text" name="product-title" id="" placeholder="Enter Product Title/Name">
                </div>
                <div class="product-selling-price product">
                    <small>Product Selling Price</small>
                    <input type="number" name="product-selling-price" id="" placeholder="Enter Product Selling Price">
                </div>
                <div class="product-discounted-price product">
                    <small>Product Discounted Price</small>
                    <input type="number" name="product-discounted-price" id=""
                        placeholder="Enter Product Discounted Price">
                </div>
                <div class="product-description product">
                    <small>Product Description</small>
                    <textarea name="product-description" id="" cols="30" rows="10"
                        placeholder="Type Product Description here..."></textarea>
                </div>
                <div class="product-brand product">
                    <small>Product Brand</small>
                    <input type="text" name="product-brand" id="productbrand" placeholder="Enter Product Brand">
                </div>
                <div class="product-category product">
                    <small>Product Category</small>
                    <select id="category-list" class="product-category-dropdown product" name="product-category">
                        <option value="none">----Select Product Category----</option>
                        {% for k,v in dict_category.items %}
                        <option value="{{v}}">{{v}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="product-main-image product">
                    <small>Product Main Image</small>
                    <input type="file" name="product-main-image" id="">
                </div>
                <div class="product-sub-image product">
                    <small>Product Sub Image(s)</small>
                    <input type="file" name="product-sub-image" id="">
                </div>
                <div class="product-desc-image product">
                    <small>Product Description Image(s)</small>
                    <input type="file" name="product-descriptionimage" id="">
                </div>
                <div class="product-submit">
                    <button class="submit-btn" type="submit" name="saveproduct">Save Product</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="{% static  'app/js/uploaddetails.js' %}"></script>

</html>